/* ------------------
Import Poppins font 
---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif
}

.container {
    width: 90%;
    margin: auto;
}
.container2 {
    width: 80%;
    margin: auto;
}

/*-----------------
 Banner Section start 
 -----------------*/

section.bennarSec {
    background: #2D25A0;
    color: #ffff;
}
section.bennarSec:hover .rightCon img {
    transform: scale(1.1);
}
.secCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 75px;
    padding-bottom: 70px;
}

.rightCon img {
    width: 100%;
    transition: transform .5s;
}

.leftCon h1 {
    font-size: 64px;
    line-height: 87px;
    margin-top: 65px;
}

.leftCon a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
    background: #E02C6D;
    padding: 10px 20px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
}

.leftCon a i {
    margin-left: 5px;
    font-size: 14px;
}
/*-----------------
Player Section Start
------------------ */

section.playerList {
    margin-top: 70px;
}

.singlePlayer img {
    width: 100%;
    height: auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    background: #e8e8e882;
}

.singlePlayer {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #e8e8e8;
}

.singlePlayer h2 {
    font-size: 28px;
    margin: 15px 0px 13px;
}
.singlePlayer p {
    font-size: 16px;
    text-align: justify;
    color: #6C6C6C;
    line-height: 26px;
    margin-bottom: 20px;
}




/*-----------------
Top clubs Section Start
------------------ */

section.clubsSec {
    margin-top: 60px;
}

.sectionTitle h1 {
    text-align: center;
    font-size: 37px;
    margin-bottom: 35px;
    font-weight: 600;
    color: #5f5f5f;
}
.clubsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding-bottom: 30px;
}

.singleClub {
    padding: 30px;
    border: 1px solid #cacaca;
    position: relative;
    max-height: 335px;
    box-shadow: 1px 1px 18px 0px #949494;
}

.singleClub {}

.clubImg img {
    width: 100%;
}
img.reallMadrid {
    width: 79%;
    display: block;
    margin: auto;
}

.clubInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient( #c7c7c785, #21212185);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}
.clubInfo:hover {
    opacity: 1;
}
.clubInfo h2 {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    color: #fff;
    margin-top: 50%;
}

.clubInfo a {
    text-decoration: none;
    display: block;
    color: #000000;
    text-align: center;
    margin-top: 9px;
    background: #fff;
    margin: 20px auto 0;
    padding: 5px 0px;
    width: 129px;
    border-radius: 20px;
}

.clubInfo a i {
    font-size: 15px;
    margin-left: 10px;
}

/*-----------------
Footer Section Start
------------------ */


footer.footerSec {
    margin-top: 70px;
    text-align: center;
}

.footerContent img {
    width: 450px;
}

.socialIcons a {
    background: #c5cccc;
    font-size: 21px;
    width: 40px;
    margin-right: 10px;
    border-radius: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9c9c9c;
    margin-bottom: 30px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.footerContent p {
    font-size: 18px;
    margin-bottom: 70px;
}










/*-----------------
Responsive css Start
------------------ */

/* Modile Devices */

@media only screen and (max-width:688px) {

    .container2 {
        width: 90%;
        margin: auto;
    }
    section.bennarSec {
        width: 100%;
    }
    .secCont {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px;
        padding-bottom: 80px;
    }
    .leftCon {
        padding-bottom: 60px;
        margin-left: 5px;
    }
    .leftCon h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .clubsList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        padding-bottom: 30px;
    }
    footer.footerSec {
        margin-top: 50px;
    }
    .footerContent img {
        width: 300px;
    }
    .socialIcons {
        padding: 25px 0px 0px;
    }
    .footerContent p {
        margin-bottom: 90px;
    }


}

@media only screen and (min-width:689px) and (max-width:992px) {
 
    .container2 {
        width: 90%;
        margin: auto;
    }
    section.bennarSec {
        width: 100%;
    }
    .secCont {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0px;
        padding-bottom: 80px;
    }
    .leftCon {
        padding-bottom: 80px;
        margin-left: 5px;
    }
    .leftCon h1 {
        font-size: 64px;
        line-height: 100px;
        margin-bottom: 40px;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
}